body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}


p#cronometro {
    font-size: 40px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    border: 2px solid #CECF07;
    border-radius: 7px;
}

